body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}




.header{
  background-color:green;
}

.header_links{
  display:flex;
  justify-content:space-between;
}

.link_to_content{
  color:black;
}


.main{
  margin:0;
}

