body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.content{
  width:80vw;
  margin-left:auto;
  margin-right:auto;
}


header{
  width:100%;
  background-color:green;
  height:60px;
  position:fixed;
}

#header_links{
  display:flex;
  justify-content:space-around;
}

.fixedsticky {
  top:0;
}

.link_to_content{
  color:black;
}

.main{
  margin:0;
}

#about_me{
  margin-top:100px;
  height:500px;
  background-color:red;
}

#works{
  height:1500px;
}
